---
# Only the main Sass file needs front matter (the dashes are enough)

---

{% assign use_minima = false %}
{% if site.theme and site.theme contains 'minima' %}
  {% assign use_minima = true %}
{% elsif site.remote_theme and site.remote_theme contains 'minima' %}
  {% assign use_minima = true %}
{% endif %}

{% if use_minima %}
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";
{% elsif site.theme %}
@import "{{ site.theme }}";
{% endif %}
